/*
 Theme Name:    Electro Child
 Theme URI:     https://themeforest.net/item/electro-electronics-store-woocommerce-theme/15720624
 Description:   This is the child theme of Electro
 Author:        MadrasThemes
 Author URI:    https://madrasthemes.com/
 Template:      electro
 Version:       2.5.9
 License:       GNU General Public License v2 or later
 License URI:   http://www.gnu.org/licenses/gpl-2.0.html
 Tags:          light, dark, two-columns, right-sidebar, responsive-layout
 Text Domain:   electro-child
*/
input.wpuf-submit-button {
    background: #2874F0!important;
    border-color: #2874F0!important;
    box-shadow: 0 1px 0 #2874F0!important;
}
.rating center {
    color: black;
}
.sell-start .elementor-text-editor.elementor-clearfix {
    color: black;
}
.owl-item>.product .price-add-to-cart{display: block;
    height: auto;
    font-size: 11px!important;
    line-height: 1;
    position: relative;
    white-space: nowrap;
    text-align: center;
    top: -15px;
    height:37px;
    width:100%;
    min-width:170px;
    }
.owl-item>.product .price, .products>.product .price{width:80px; text-align:left; white-space:normal; line-height:1em; 
    width: 80px;
    position: absolute;
    left: 0;
    top: 16px;
    display: block;
    text-align: left;
    text-indent: 0;}
.owl-item > .product .add_to_cart_button{display: inline-block;
    width: 68px;
    white-space: normal;
    position: absolute;
    top: 16px;
    right: 0;
}
.owl-item>.product .button{
        text-indent: -1000px;
    background: transparent;
    overflow: hidden;
    padding:0;
    border-radius: 0;
}
.owl-item>.product .button.add_to_cart_button::before{border-radius: 100%;}
.section-onsale-product-carousel .onsale-product-carousel .deal-cart-button .added_to_cart, .section-onsale-product-carousel .onsale-product-carousel .deal-cart-button .button{line-height:2.5; color:#000;}
.owl-item>.product .button.add_to_cart_button::before, .section-onsale-product .onsale-product .button.add_to_cart_button::before, .section-onsale-product-carousel .onsale-product-carousel .onsale-product-content .button.add_to_cart_button::before, li.product .button.add_to_cart_button::before{margin-left:10px;}
.product-template-default h1.product_title.entry-title{display:block;}
@media (min-width: 992px)
{
ul.products.columns-4>li.product {
/*     flex: 0 0 100%!important;
    max-width: 100%!important; */
}
}table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details span.woocommerce-Price-amount.amount bdi {
    font-size: 14px!important;
}
.term-description {
    display: none;
}
table.table.table-compare.compare-list
{
	width:100vw!important;
}
@media (min-width: 1200px)
.owl-item>.product .hover-area .action-buttons, .products>.product .hover-area .action-buttons {
    flex-wrap: nowrap!important;
}
table.table.table-compare.compare-list tbody tr th {
    width: 1%!important;
}
.awar-popup.nav p {
    display: none;
}
.awar-popup.nav {
    display: grid;
    grid-row-gap: 15px;
}
a.hw {
    color: #2874f0!important;
}
i.ec.ec-close-remove {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999999999999999999999999999;
}
p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received
{
	font-weight: bold!important;
    font-size: 17px!important;
}
article#post-11043 header {
    margin: 0;
}
.sell-heading h2 {
    font-size: 20px!important;
}
/* sell on rtn */
@media(max-width:767px)
{
	section#sell-header .elementor-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}
@media(max-width:600px)
{
	section#sell-header .elementor-row {
   margin-top:56px;
		min-height:41px;
				align-items:start;

}
}
h1.sell-banner {
    width: 63%;
    font-size: 37px!important;
    color: #000000!important;
    padding-left: 4%;
}

/* about */
#sell-about
{
	margin-top:2%!important;
}
#sell-about h2 {
font-family:"roboto!important";
    font-size: 1.8rem!important;
    line-height: 1.324;
    color: #151515;
    position: relative;
    padding-bottom: 3.6rem;
}
#sell-about h2::before {
    display: block;
    content: "";
    height: 2px;
    width: 70px;
    background-color: #39b54a;
    position: relative;
    top: 38px;
    left: 0px;
}
#sell-about span
{
    font-size: 17px!important;
    line-height: 1.857;
	color:#000000;
}
/* features */
section#sell-features {
background: #ebebeb;
    padding: 3% 0;
    margin-top: 2%!important;
}
section#sell-features .elementor-row>div {
/*     margin-top: 1%; */
}
#sell-features p
{
    font-size: 1.3rem!important;
    color: #000000;
    margin-bottom: 3rem;
}
#sell-features span
{
	color:#000000;
line-height:1.5;
	text-align:justify!important;
}
#sell-features .elementor-container.elementor-column-gap-default .elementor-row>div,.sell-start{
   background-color: rgb(255, 255, 255);
    border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px -1px, rgba(0, 0, 0, 0.2) 0px 0px 0px 0px, rgba(0, 0, 0, 0.2) 0px 1px 1px 2px;
}
.rating {
   background-color: rgb(255, 255, 255);
    border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px -1px, rgba(0, 0, 0, 0.2) 0px 0px 0px 0px, rgba(0, 0, 0, 0.2) 0px 1px 1px 2px;
	margin-left:1%;
	margin-bottom:1%;
}
/* sell-start */
#sell-section
{
	margin-top:2%!important;
}
.sell-start {
   background-color: rgb(255, 255, 255);
    border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px -1px, rgba(0, 0, 0, 0.2) 0px 0px 0px 0px, rgba(0, 0, 0, 0.2) 0px 1px 1px 2px;    margin-left: 1%;
	margin-top:1%;
}
.sell-start p span
{
	display: inline-block;
    font-family: "muli-bold";
    font-size: 2rem!important;
    color: #ffffff;
    height: 54px;
    width: 54px;
    line-height: 54px;
    text-align: center;
    border-radius: 50%;
    background-color: #39b54a;
    /* box-shadow: 0 0 0 15px #ffffff; */
 margin-right:5px;
    background: green;
}

/* price */
section#pricing-table {
    background: #ebebeb;
    padding: 3% 0;
	margin-top:2%!important;
}
.sell-price h6
{
	font-size:27px!important;
	color:#000;
}
.sell-price-list
{
background: #39b54a;
	margin-right:1%!important;
}
.sell-price-list div {
text-align: center;
    font-size: 20px!important;
    line-height: 2;
    border-bottom: 2px solid #fff;
	color:#fff;
}
.sell-price-list h1
{
font-size: 33px!important;
		color: #fff;
}
.sell-price-list h2
{
	font-size: 63px!important;
	color: #fff;

}
.sell-price-list div span {
    font-size: 19px!important;
}
.sell-price-list span
{
color: #fff;
}
.sell-price-list button
{
margin: 2% 0;
    background: #ffffff;
    color: #151515;
}

/* download */
section#appstore-section {
background: #39b54a;
	margin-top:2%!important;
}
div#sell-download
{
    color: #b2fabc;
	padding: 5rem 0;
    text-align: center;	
}
div#sell-download p {
    font-size: 27px!important;
    text-align: center;
    color: white;
}
div#sell-download span
{
    font-size: 1.3rem!important;
    line-height: 2;
    margin-bottom: 3.6rem;
}
div#app-store img {
    width: 100%;
    max-width: 175px;
}
#playstore .elementor-image
{
	text-align:right;
}

#app-store .elementor-image
{
	text-align:left;
}
@media(max-width:768px)
{
	#playstore .elementor-image
{
	text-align:center!important;
}

#app-store .elementor-image
{
	text-align:center!important;
}
}
/* rating */
#benefit-seller h2
{
	margin-top:2%!important;
}

#get_zipcode .kas-modal-content{
    padding: 40px;
    width: 35%;
    min-width: 300px;
    position: relative;
}
#get_zipcode .kas-close{
    color: #aaaaaa;
    float: right;
    font-size: 28px!important;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 15px;
}
#get_zipcode h2{
    font-weight: bold;
    font-size: 2rem!important;
    margin-bottom:20px;
}
#get_zipcode button{
    margin-top: 20px;
    width: 100%;
    background: #2874F0;
    color: #fff;
}
