<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */

/* .tab-content,
{
  min-height:301px !important;
}
.section-products-carousel
{
  min-height:340px !important;
}
.elementor-widget-container
{
   min-height:297px !important;
} */
 .set_ajax_pro_height
{
min-height:200px !important;
}
</style>
<!-- end Simple Custom CSS and JS -->
